* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
  }
  
  .navbar-brand {
    color: #0a0909;
    font-size: 2.5rem;
    margin-left: 50px;
    font-weight: bold;
}
  
  
  .navsection{
    list-style: none;
    display: flex;
    margin-right: 50px
  }
  
  .nav-item {
    margin-left: 1rem;
  }
  
  .nav-item a {
    
    text-decoration: none;
   
    transition: background-color 0.3s;
  }
  
  .nav-item a:hover {
    background-color: #1d48d4;
  
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      width: 100%;
      display: none;
    }
  
    .navbar-nav.active {
      display: flex;
    }
  
    .nav-item {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  
    .navbar-toggle {
      display: flex;
    }
  }
  #btn1{
    background-color: #fff;
    color: black;
  }